server {
    listen 188.225.47.243:80 default_server;
   
    listen [::]:80 default_server;

    index index.php index.html index.htm index.nginx-debian.html;

    server_name _;
	root /var/www/html;
	
    client_max_body_size 50m;
    
	location /app {
		root $symfonyRoot;
		rewrite ^/app/(.*)$ /$1 break;
		try_files $uri @symfonyFront;
	}

	location / {
		try_files $uri $uri/ /index.php?$args;
	}

	set $symfonyRoot /var/www/html/app/public;
	set $symfonyScript index.php;
	
	# This is for the Symfony application
	location @symfonyFront {
		#fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
		#include /etc/nginx/fastcgi_params;
		#fastcgi_param SCRIPT_FILENAME $symfonyRoot/$symfonyScript;
		#fastcgi_param SCRIPT_NAME /subdirectory/$symfonyScript;
		#fastcgi_param REQUEST_URI /subdirectory$uri?$args;
		
		proxy_pass http://127.0.0.1:80/app$uri?$args;
		include proxy_params;
	}

  # This is for the wordpress app
	location ~ \.php {
		fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param REQUEST_URI $uri?$args;
		include /etc/nginx/fastcgi_params;
	}

	
	#location @fallback {
    #    proxy_pass         http://127.0.0.1:80;
    #    include proxy_params;
    #}

    #location ~* \.(jpg|jpeg|gif|png|css|zip|tgz|gz|rar|bz2|doc|docx|xls|xlsx|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf|js|swf|f4v|flv|avi|wmv|mp3|mp4|svg|ogv|webm|eot|ttf|woff|woff2)$ {
    #    root /var/www/html;
    #    error_page 404 = @fallback;
    #}
	
	#location / {
    #    proxy_pass http://127.0.0.1:80;
    #    include /etc/nginx/proxy_params;
    #}
    

}
server {

    index index.php index.html index.htm index.nginx-debian.html;
    server_name *.schoolspace.ru; # managed by Certbot
    root /var/www/html;
	client_max_body_size 50m;
	
    
	location /app {
		root $symfonyRoot;
		rewrite ^/app/(.*)$ /$1 break;
		try_files $uri @symfonyFront;
	}
	
	location /build {
		root /var/www/html/app/public;
		try_files $uri $uri/ /index.php?$args;
	}

	location / {
		try_files $uri $uri/ /index.php?$args;
	}

	set $symfonyRoot /var/www/html/app/public;
	set $symfonyScript index.php;
	
	# This is for the Symfony application
	location @symfonyFront {
		#fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
		#include /etc/nginx/fastcgi_params;
		#fastcgi_param SCRIPT_FILENAME $symfonyRoot/$symfonyScript;
		#fastcgi_param SCRIPT_NAME /subdirectory/$symfonyScript;
		#fastcgi_param REQUEST_URI /subdirectory$uri?$args;
		
		proxy_pass http://127.0.0.1:80/app$uri?$args;
		include proxy_params;
	}

  # This is for the wordpress app
	location ~ \.php {
		fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param PATH_INFO $fastcgi_path_info;
		fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param REQUEST_URI $uri?$args;
		include /etc/nginx/fastcgi_params;
	}
	
	#location @fallback {
    #    proxy_pass         http://127.0.0.1:80;
    #    include proxy_params;
    #}

    #location ~* \.(jpg|jpeg|gif|png|css|zip|tgz|gz|rar|bz2|doc|docx|xls|xlsx|exe|pdf|ppt|txt|tar|mid|midi|wav|bmp|rtf|js|swf|f4v|flv|avi|wmv|mp3|mp4|svg|ogv|webm|eot|ttf|woff|woff2)$ {
    #   root /var/www/html;
    #   error_page 404 = @fallback;
    #}
	
	#location / {
    #    proxy_pass http://127.0.0.1:80;
    #    include /etc/nginx/proxy_params;
    #}
    

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/schoolspace.ru/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/schoolspace.ru/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}server {
    if ($host = schoolspace.ru) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 188.225.47.243:80 ;
    listen [::]:80 ;
    server_name schoolspace.ru;
    return 404; # managed by Certbot


}
